.hook-form{
    overflow-x: hidden;
    min-height: 100vh;
}
.signin-form{
    margin:30px 150px;
}
.signin-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}
.signin-btn{
  background-color: #c371a3;
}
